<header>	
		<div class="container">
  				<div class="row">
  					<div class="col-lg-3 col-md-3 col-sm-4 ">
  						<div class="logo">
  							<a href="/"><h1>Desilearn</h1></a>
  						</div>	
  					</div>
  					<div class="col-lg-5 offset-lg-4 col-md-2 offset-md-7 col-sm-2 offset-sm-6">
  						<div class="main-menu">
  							<a href="/Course">Курси</a>
  							<a href="">Допомога</a>
                <a href="/userPage" id="headUser"></a>  
  							<img src="public/img/user.png" alt="User">
  						</div>
  					</div>
  				</div>
  		</div>
</header>